#requireResource("com.plugin.search.ResultRender:resultrender-resources")
<html>
  <head>
    <title>Search For Attachment</title>
    <meta name="decorator" content="atl.general">
    <meta name="application-base-url" content="$applicationProperties.getBaseUrl()">

  </head>
  <body>
    <form id="admin" class="aui" method="post" action="$applicationProperties.getBaseUrl()/plugins/servlet/searchresult">
        <div class="field-group">
             <label for="content">Search Content:</label>
             <input type="text" id="searchcontent" name="searchcontent" class="text" value="#if($searchcontent)$searchcontent#end">
         </div>
         <div class="field-group">
             <label for="content">Space Key:</label>
             <input type="text" id="spacekey" name="spacekey" class="text" value="#if($spacekey)$spacekey#end">
        </div>
        <div class="field-group">
             <input type="submit" value="Search" class="button">
        </div>
    </form>
    
    <div id="bodycontent" >
    
    #foreach ($instance in $searchresultcontainer)
#if ($instance.getAttachmentTypeString() == "Image")
#set($searchResult = $instance.getSearchResult())
#set($thumbNailItem = $instance.getThumbnailInfo())
#set($thumbUrl = $thumbNailItem.getThumbnailUrlPath())
#set($imgWidth = $thumbNailItem.getOriginalWidth())
#set($imgHeight = $thumbNailItem.getOriginalHeight())
#set($thumbHeight  = $thumbNailItem.getThumbnailHeight())
#set($totalHeight = $thumbNailItem.getThumbnailHeight()+60)


<div style="height: ${totalHeight}px; margin-left: 30px;">
<h2 class="search-result-title"><a href="$applicationProperties.getBaseUrl()$searchResult.getExtraFields().get("containingContentUrlPath")" class="search-result-link">$searchResult.getExtraFields().get("containingContentDisplayTitle")
</a></h2>
    <span class="imageLinker">
    <a href="$applicationProperties.getBaseUrl()$searchResult.getExtraFields().get("attachmentDownloadPath")" class="search-result-link visitable">
    <img id="searchResultImage" class="imageThumbnailLink" src="$thumbUrl" border="0" align="bottom" height="$thumbHeight" alt="$searchResult.getDisplayTitle()" />
    </a>  
    <br />
    <h7 class="search-result-title"><a href="$applicationProperties.getBaseUrl()$searchResult.getExtraFields().get("attachmentDownloadPath")" class="search-result-link visitable">$searchResult.getDisplayTitle()<span class="icon"></span><br>
</a></h7>
    </span>

        
</div>


















#elseif ($instance.getAttachmentTypeString() == "Vedio")
<br />

#end
    #end

    </div>
    
  </body>
</html>
